body {
  background-color: darkblue;
  max-width: 100%;
  color: white;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

#breakout {
  background-color: darkslateblue;
  display: block;
  margin: 0 auto;
}